body {
  height: 100%;
}

.content {
  box-sizing: content-box;
  display: flex;
  flex: 1;
  height: calc(100vh - 78px);
}

.Menubar {
  display: flex;
  flex: 1;
}

.Mainbox {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
}

.Maincont1 {
  display: flex;
  flex: 2;
}

.Maincont2 {
  flex: 1;
  background: lightgray;
}